.dots-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

svg.loader-dots {
    width: 200px;
    height: 100px;

    display: inline-block;
}
