@import '../../../assets/styles/mixins';

.macro-tracker {
    //background-color: $background-tiles;
    border-radius: $border-radius-xs;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        width: calc(100% - 3rem);

        @include breakpoint(l) {
            margin: 1rem 0;
        }

        .icon-container {
            width: 60px;
            height: 60px;

            display: flex;

            align-items: center;
            justify-content: center;
        }

        .content-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            align-self: center;
            margin-left: 1.5rem;

            .data {
                flex-basis: 100%;
                font-size: 1.2rem;
                font-weight: bold;
            }
            .legend {
                flex-basis: 100%;
                color: rgba(0, 0, 0, 0.8);
                font-size: 0.9rem;
                margin-top: 0.3rem;
            }
        }
    }
}
