@import '../../assets/styles/mixins';

.navigation {
    background-color: $colour-secondary;
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;

    .main-nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        &__links {
            display: flex;
            align-items: center;

            @include breakpoint(xl) {
                font-size: 1.2rem;
            }
        }

        &__links:first-of-type {
            margin-left: 2rem;
        }
        &__links:nth-child(5) {
            margin-right: 2rem;

            @include breakpoint(xl) {
                margin-right: 0;
            }
        }

        &__burger {
            display: none;
            width: 40px;
            height: 25px;

            cursor: pointer;

            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            margin-right: 2rem;
            transition: all 0.2s ease-in-out;

            &:hover * {
                background-color: $colour-primary !important;
            }

            .line {
                display: none;
                width: 40px;
                height: 2px;
                background-color: white;
                border-radius: $border-radius-xs;

                transition: all 0.2s ease-in-out;

                @include breakpoint(xl) {
                    display: block;
                }
            }

            @include breakpoint(xl) {
                display: flex;
            }
        }
    }
}

a,
a:visited {
    text-decoration: none;
    color: $font-color-light;
    transition: all 0.2s ease-in-out;
}
a:focus,
a:hover {
    color: $colour-primary;
}
