@import '../../assets/styles/mixins';

.icon-container {
    background-color: $background-icon;
    width: 64px;
    height: 64px;

    display: flex;

    justify-content: center;
    align-items: center;

    margin: 0.5rem 0;
    border-radius: 5px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}
