@import '../../../assets/styles/mixins';

.side-bar {
    background-color: cornflowerblue;
    width: 120px;
    height: calc(100% - 100px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    color: white;
}
